.cart {
  width: 100%;
  min-height: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cartTitle{
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.cartWrapper{
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem; 
}

.cartItem{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #f8f7f5;
  margin-bottom: 20px;
  border-radius: 8px;
}

.cartItem img {
  width: 7rem;
  border-radius: 8px;
}

.cartInfo{
  display: flex;
  flex-direction: column;
  justify-content:end;
  gap: 5px;
  margin-left: 20px;
}

.TotalInfo{
  font-weight: bold;
  color: #f48c25;
}

.subInfo{
  color: #f7ae59;
}

.cartActions{
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-left: 40px;
}

.cartButton{
  width: 20px;
  height: 20px;
  background-color: #f48c25;
  padding: 0 0.5rem;
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
}

.cartActions span{
  font-weight: bold;
}

.cartFinish {
  background-color: #f6ede5;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
  position: sticky;
  top: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
}

 .subTotal{
   color: #f48c25;
   font-weight: bold;
}

.finish{
  width: 100%;
  background-color: #f48c25; 
  padding: 8px;
  margin-top: 40px; 
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}

.finish:hover {
  opacity: 0.5;
}

 /* carrinho vazio */

.emptyCart {
  grid-column: 1 / -1; 
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCart p {
  font-size: 32px;
  font-weight: 500;
}

.emptyCart a {
  background-color:#f48c25 ;
  margin: 0.75rem 0;
  padding: 0.25rem 0.75rem;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: all 0.5s;
}

.emptyCart a:hover{
 opacity: 0.5;
}


@media (max-width: 1200px) {
   .cartWrapper {
    grid-template-columns: 1fr;
  }
 
  .cartActions {
    justify-content: flex-start;
    margin-left: 0;
  }
  .cartItem img {
    width: 100%;
    max-width: 200px;
  }

  .cartInfo {
    margin-left: 0;
  }

  .finish {
    padding: 12px;
    font-size: 1rem;
  }
}

@media (max-width:780px ){
   .cartItem {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}