
.container{
  width: 100%;
  padding: 4px;
  background-color: #f8f7f5;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
}

.link h1 {
  color: #f48c25;
}

.cart{
  position: relative;
}

.cart span {
  position: absolute;
  top: -4px;
  right: -6px;

  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f48c25;
  border-radius: 50%;

  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.navigate{
  max-width: 1280px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 12px;
}

